<nav class="navbar">
  <a href="/">
  <div class="brand">
    <div class="brand-icon">
      <span class="icon">🏦</span>
    </div>
    Neo Bank
  </div>
  </a>

  <div class="nav-actions">
    <input
      type="text"
      placeholder="Agência"
      name="agency"
      [(ngModel)]="agency"
      class="nav-input"
    />
    <input
      type="text"
      placeholder="Conta"
      name="account"
      [(ngModel)]="account"
      class="nav-input"
    />
    <button class="btn-login" (click)="login()">
      Entrar <span>›</span>
    </button>
    <div class="separator"></div>
    <button class="btn-open-account" (click)="openAccount()">
      Abra sua conta
    </button>
  </div>
</nav>